---
layout: page
permalink: /login/
---
<h1 class="page-heading">Login Questions</h1>
<p>Login questions concern account creation and page, password, OpenID, registration to a user group.</p>
<p>Each question is sorted into exactly one topic. See also <b>general</b> since questions of general interest and questions matching several topics are under topic general.</p>
<hr>
<div class="list-groups">
  {% for post in site.posts %}
    {% if post.categories contains 'login' %}  
    <div class="list-group-item">
    <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    <p>{{ post.content }}</p>
  </div>
{% endif %}
{% endfor %}
</div>

