<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ '/index.html' | prepend: site.baseurl }}">ESGF-SWT</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for page in site.pages %}
          {% if page.title %}
          <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% endif %}
      {% endfor %}
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav>


<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <br/>
        <h5>Topics:</h5>
        <a href="{{ '/openid/' | prepend: site.baseurl }}" class="list-group-item">Open ID</a>
        <a href="{{ '/wget/' | prepend: site.baseurl }}" class="list-group-item">WGET</a>
      </div>
    </div><!--/.sidebar-offcanvas-->
    
    <div class="col-xs-12 col-sm-9">

